{% extends 'base/base_user.html' %}

{% block head_css_theme %}
{{block.super}}
{% endblock head_css_theme %}

{% block content_html_theme %}

<div class="container mt-5 mb-5">
    <div class="row g-5">
        <div class="col-md-8">

          <article class="blog-post">
            <h1 class="blog-post-title">{{object.h1}}</h1>
            <p class="blog-post-meta">{{object.created_at}} <a href="#">por {{object.author}}</a></p>

            {{object.content | safe}}
        </article>
    

        </div>
    
        <div class="col-md-4">
          <div class="position-sticky" style="top: 2rem;">
            {% for snippet in object.snippet_collection.collection.all %}
            <div class="p-4 mb-3 bg-light rounded">
              <p class="mb-0">{{snippet.content}}</p>
            </div>
            {% endfor %}

          </div>
        </div>
      </div>
</div>


{% endblock content_html_theme %}