{% extends 'base/base_user.html' %}

{% block head_css_theme %}
{{ block.super }}
{% endblock head_css_theme %}

{% block content_html_theme %}

      
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
              <a class="navbar-brand" href="#">Gana tu Dinero en Linea.com</a>
              <form class="d-flex">
                <button class="btn btn-outline-success redirect_counter" type="submit">Redirecionando en (5) segundos</button>
            </form>
            </div>
          </nav>
            
          </nav>
          <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: 0%;" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
          <div class=" py-2 my-2 text-center">
            <img src="{{ request.scheme }}://{{ request.get_host }}{{object.image_1_file.url}}"
            class="img-fluid border rounded-3 shadow-lg mb-4" alt="{{object.image_1_alt}}" loading="lazy" width="225"
            height="175">
            <div class="col-lg-6 mx-auto">
              <p class="lead mb-4 mt-1">
                Te redireccionaremos de forma segura en 5 segundos. De esta forma nos aseguramos de enviarte a una web
                con protocolo HTTPS seguro.                  
              </p>
              <p class="lead mt-4">
                Recuerde: Toda inversión rentable tiene su índice de riesgo.           
            </p>
              
              
              <!--
              <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                <button type="button" class="btn btn-primary btn-lg px-4 gap-3">Primary button</button>
                <button type="button" class="btn btn-outline-secondary btn-lg px-4">Secondary</button>
              </div>-->
            </div>
            
          </div>
          
          {% endblock content_html_theme %}


            {% block footer_js_theme %}
   
  {{ block.super }}
        <script async defer>


timeLeft = 5;
timeInitial = timeLeft;
flag_redirect = 0;
function sleep(ms) {
  return new Promise(resolve => setTimeout(resolve, ms));
}



function countdown() {
	timeLeft--;
	document.getElementsByClassName("redirect_counter")[0].innerHTML = String( "Redireccionando en (" + timeLeft + ") segundos" );
    percent_x = (timeLeft*100)/timeInitial;
    percent_html = 100-percent_x;
    console.log(percent_html);
    document.getElementsByClassName("progress-bar")[0].style.width = percent_html + "%";

    if (timeLeft > 0) {
		setTimeout(countdown, 1000);
	}
    else {     
        document.getElementsByClassName("redirect_counter")[0].innerHTML = String( "Si no te redirecciona, Pulsa aqui" );
        sleep(1000).then(() => { 
            
           /* window.location.href = "{{invitelink.url}}"; */
    });
        
    }
};

setTimeout(countdown, 1000);

        </script>|
{% endblock footer_js_theme %}