<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>{{head_title}}</title>
  <meta name="description" content="{{meta_description}}" />
  <meta name="keywords" content="{{meta_keywords}}" />
  <meta name="robots"  content="{{meta_robots}}" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% block head_css_theme %}    
    {% endblock head_css_theme %}
</head>

<body>
    {% block header_html_header_theme %}
    {% endblock header_html_header_theme %}

    {% block content_html_theme %}
    {% endblock content_html_theme %}
    
    {% block footer_html_header_theme %}
    {% endblock footer_html_header_theme %}

    {% block footer_js_theme %}
    {% endblock footer_js_theme %}
</body>
</html>